.vscode/*
/Backend/venv
/Backend/flaskr/__pycache__
/Frontend/node_modules
/Frontend/.DS_Store
/current_appearance/.DS_Store
.DS_Store
.idea/modules.xml
.idea/misc.xml
.idea/cs447-himalayans-repo.iml
phaser-dependencies

# from repl.it
.replit
# frontend packages
node_modules/
package-lock.json
package.json
replit.nix
# backend packages (flask)
poetry.lock
pyproject.toml
.breakpoints
Backend/tests/__pycache__/
/Backend/__pycache__
