.vscode/*
/Backend/venv
/Frontend/node_modules
/Frontend/.DS_Store
/current_appearance/.DS_Store
.DS_Store
.idea/modules.xml
.idea/misc.xml
.idea/cs447-himalayans-repo.iml

# from repl.it
.replit
node_modules/
package-lock.json
package.json
replit.nix
