
  .custom-button {
    background-image: url('ChooseLevel_normal.png');
    background-size: cover;
    text-align: center;
    border: none;
    color: rgb(0, 86, 156);
    padding: 10px 30px;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    border-radius: 15px;
    width: 20vw; /* Adjust width to desired size */
    height: 10vh; /* Adjust height to desired size */
    outline-width: 4px;
    outline-style: solid;
    margin: 0.5vw;
  }

  .control-flow {
    display: flex;
    flex-direction: column;
    height: 800px;
  }
  
  .menu-content {
    position: absolute;
    z-index: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
    right: 0; 
    overflow: hidden;
  }