.LevelComplete {
    height: 800px;
    display: flex;
}
.level {
    display: flex;
    flex-direction: column;
    height: 400px;
    border: solid 1px black;
    width: 400px;
    margin: auto;
    padding: 40px 50px;
    border-radius: 80px;
    background-color: darkgray;
    opacity:.6;
}

.level .title {
    margin-bottom: 70px;
}

button {
    width: 300px;
    height: 40px;
    margin: 15px auto;
    color: white;
    background-color: #3f49c0;
    border: 1px solid black;
}