.custom-button {
    background-image: url('ChooseLevel_normal.png');
    background-size: cover;
    border: none;
    color: rgb(0, 86, 156);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-family: 'Verdana', sans-serif;
    font-size: 35px;
    cursor: pointer;
    border-radius: 15px;
    width: 20vw; /* Adjust width to desired size */
    height: 10vh; /* Adjust height to desired size */
    outline-width: 4px;
    outline-style: solid;
    margin: 1vw;
  }

  .disabled {
    opacity: 0.5;
  }

  .control-flow {
    display: flex;
    flex-direction: column;
    height: 800px;
}