
.PauseMenu .control-flow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 800px;
}

.PauseMenu .title {
    border: solid 1px black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: darkgray;
    opacity:.6;
}

.PauseMenu .button {
    background-image: url('ChooseLevel_normal.png');
    background-size: cover;
    text-align: center;
    width: 20vw; /* Adjust width to desired size */
    height: 7vh; /* Adjust height to desired size */
    margin: 15px auto;
    font-size: 25px;
    color: rgb(0, 86, 156);
    background-color: #3f49c0;
    border: 1px solid black;
    border-radius: 15px;
}

.PauseMenu .return {
    border: solid 1px black;
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 22px 0px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.custom-button-2 {
    background-image: url('ChooseLevel_normal.png');
    background-size: cover;
    text-align: center;
    border: none;
    color: rgb(0, 86, 156);
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    cursor: pointer;
    border-radius: 15px;
    width: 20vw; /* Adjust width to desired size */
    height: 10vh; /* Adjust height to desired size */
    outline-width: 4px;
    outline-style: solid;
    margin: 0.5vw;
  }
